@page
@model ProyectoRazor.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Crear Estudiante";
}

<h1>Crear Nuevo Estudiante</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Student.FirstName" class="form-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.LastName" class="form-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.EnrollmentDate" class="form-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
